---
layout: page
title: "Biography"
description: "Hey, this is Yunlong Lyu. Welcome to my page."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> 

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p><strong>昨夜西风凋碧树，独上高楼，望尽天涯路。</strong><br>
    <strong>衣带渐宽终不悔，为伊消得人憔悴。</strong><br>
    众里寻他千百度，蓦然回首，那人却在，灯火阑珊处。</p></blockquote>

    <p>Hey，我是<strong>Yunlong Lyu</strong>，目前在腾讯安全大数据实验室工作，致力于用AI来解决软件安全和系统安全领域中的问题，曾在知名开源软件（如Linux kernel）上检测并修复近百个安全缺陷。
    我于2022年在中国科学技术大学获得了网络空间安全专业的硕士学位，指导老师为<a href="https://dsxt.ustc.edu.cn/zj_js.asp?zzid=6492">孙启彬教授</a>，
    并于2019年在中国地质大学（武汉）获得信息安全专业的学士学位。
    在2020年至2021年，我曾在上海交通大学<a href="https://gossip.team/"> G.O.S.S.I.P</a> 软件安全研究组实习，指导老师为<a href="https://lijuanru.com/">李卷孺</a>。
</p>

    <h4>研究兴趣</h4>
    <ul>
        <li>软件安全缺陷检测</li>
        <li>模糊测试用例生成</li>
        <li>二进制代码相似性检测</LI>
    </ul>


    <p></p>
    
    <h4>Publiciations</h5>

    <ul>
        <li>
            <p>
                <a href="paper/sparrow.pdf">SparrowHawk: Memory Safety Flaw Detection via Data-Driven Source Code Annotation.</a> <br />
                <strong>Yunlong Lyu</strong>, Wang Gao, Siqi Ma, Qibin Sun, Juanru Li. <br />
                In <i>the Proceedings of the 17th International Conference on Information Security and Cryptology (<b>Inscrypt</b>)</i> (CCF-C), 2021.
            </p>
        </li>
        <li>
            <p>
                <a href="paper/goshawk.pdf">Goshawk: Hunting Memory Corruptions via Structure-Aware and Object-Centric Memory Operation Synopsis.</a> <br />
                <strong>Yunlong Lyu</strong>, Yi Fang, Yiwei Zhang, Qibin Sun, Siqi Ma, Elisa Bertino, Kangjie Lu, Juanru Li. <br />
                In <i>the Proceedings of the 43rd IEEE Symposium on Security and Privacy (<b>S&P</b>)</i>, 2022.
            </p>
        </li>
        <li>
            <p>
                <a href="paper/Hopper.pdf">HOPPER: Interpretative Fuzzing for Libraries. </a> <br />
                Peng Chen, Yuxuan Xie, <strong>Yunlong Lyu</strong>, Yuxiao Wang, and Hao Chen. <br />
                In <i>ACM Conference on Computer and Communications Security (<b>CCS</b>)</i> , Copenhagen, Denmark, 11, 2023
            </p>
        </li>
    </ul>
</div>

<!-- English Version -->
 <div class="en post-container">
    <!--copied from markdown -->
    <blockquote><p><strong>West wind withered trees, alone on high tower, I gazed at distant lanes.</strong><br>
        <strong>No regrets, my belt loose, but love's enduring strain for you.</strong><br>
        Seeking her again and again, in dim light, she resides, where lanterns wane.</p></blockquote>
    
        <p>Hey, I am<strong>Yunlong Lyu</strong>, currently working at Tencent Security Big Data Laboratory. 
        I am dedicated to using AI to solve problems in the field of software and system security.
        I have detected and fixed nearly a hundred security vulnerabilities in well-known open-source software such as the Linux kernel.
        I obtained a master's degree in CyperSpace Security from the University of Science and Technology of China in 2022, under the guidance of Professor <a href="https://dsxt.ustc.edu.cn/zj_js.asp?zzid=6492">Qibin Sun</a>.
        In 2019, I received a bachelor's degree in Information Security from China University of Geosciences (Wuhan).
        From 2020 to 2021, I interned at the <a href="https://gossip.team/"> G.O.S.S.I.P</a> Software Security Research Group at Shanghai Jiao Tong University, under the guidance of Professor <a href="https://lijuanru.com/">Juanru Li</a>.
    </p>
    
        <h4>Research Interests</h4>
        <ul>
            <li>Software Bug Detection</li>
            <li>Fuzzing Harness Generation</li>
            <li>Binary Similarity Detection</LI>
        </ul>
    
    
        <p></p>
        
        <h4>Publiciations</h5>
    
        <ul>
            <li>
                <p>
                    <a href="paper/sparrow.pdf">SparrowHawk: Memory Safety Flaw Detection via Data-Driven Source Code Annotation.</a> <br />
                    <strong>Yunlong Lyu</strong>, Wang Gao, Siqi Ma, Qibin Sun, Juanru Li. <br />
                    In <i>the Proceedings of the 17th International Conference on Information Security and Cryptology (<b>Inscrypt</b>)</i> (CCF-C), 2021.
                </p>
            </li>
            <li>
                <p>
                    <a href="paper/goshawk.pdf">Goshawk: Hunting Memory Corruptions via Structure-Aware and Object-Centric Memory Operation Synopsis.</a> <br />
                    <strong>Yunlong Lyu</strong>, Yi Fang, Yiwei Zhang, Qibin Sun, Siqi Ma, Elisa Bertino, Kangjie Lu, Juanru Li. <br />
                    In <i>the Proceedings of the 43rd IEEE Symposium on Security and Privacy (<b>S&P</b>)</i>, 2022.
                </p>
            </li>
            <li>
                <p>
                    <a href="paper/Hopper.pdf">HOPPER: Interpretative Fuzzing for Libraries. </a> <br />
                    Peng Chen, Yuxuan Xie, <strong>Yunlong Lyu</strong>, Yuxiao Wang, and Hao Chen. <br />
                    In <i>ACM Conference on Computer and Communications Security (<b>CCS</b>)</i> , Copenhagen, Denmark, 11, 2023
                </p>
            </li>
        </ul>
</div> 

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

<!-- Gitalk 评论 start  -->
<!-- {% if site.gitalk.enable %}-->

<!-- Gitalk link  -->
<!-- <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
Gitalk end -->


 <!-- disqus 评论框 start  -->
<!-- {% if site.disqus.enable %} -->

<!-- <div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div> -->
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<!-- <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script> -->
<!-- disqus 公共JS代码 end -->
<!-- {% endif %} -->

